.stories {
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 24px;
  padding: 16px 0;
  display: flex;
  overflow-x: auto;
  width: 614px;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.story-avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid #e1306c;
  padding: 2px;
  background-color: white;
}

.story-username {
  font-size: 12px;
  margin-top: 5px;
  color: #262626;
  max-width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
